<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head') %>
  <body>
    <%- include('templates/nav') %>
    <div class="text-center">
      <h1>Bienvenido a mi Ecommerce en Backend</h1>
      <b><a href="/login" class="btn btn-primary">Login</a></b>
      <script src="./index.js"></script>
    </div>
  </body>
</html>
