<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head') %>
  <body>
    <%- include('templates/nav') %>
    <div class="d-flex justify-content-center">
      <form action="/login" method="post" class="m-4 p-4 bg-success">
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary" />
        <a href="/signup" class="btn btn-primary">Registrate</a>
      </form>
    </div>
  </body>
</html>
